* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.game {
  border-bottom: 1px solid;
  height: 300px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: x-large;
}

.dino {
  position: absolute;
  bottom: 0;
  background-image: url(img/dino.gif);
  width: 280px;
  height: 130px;
  background-size: 280px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.cacto {
  position: absolute;
  bottom: 0;
  background-image: url(img/cacto.png);
  width: 35px;
  height: 70px;
  background-size: 35px;
  background-repeat: no-repeat;
  animation: cacto 3s linear infinite;
}

@keyframes cacto {
  0% {
    right: -20px;
  }
  100% {
    right: 850px;
  }
}

.jump {
  animation: jump 1.1s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 80px;
  }

  50% {
    bottom: 100px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 0;
  }
}